* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: whitesmoke;
    line-height: 1.6;
}

#showcase {
    background-image: url('../img/la-jolla-bradbarkel.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}

#showcase p {
    font-size: 20px;
}

#showcase p:nth-of-type(2) {
    font-size: 15px;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
    border: whitesmoke 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
    background: whitesmoke;
    color: dimgray;
}

#section-a {
    padding: 5%;
    background: darkgray;
    text-align: center;
}

#section-b {
    padding: 5%;
    background: whitesmoke;
    color: dimgray;
    text-align: center;
}

#section-c {
    display: flex;
    background: darkgray;
    text-align: center;
}

#section-c div {
    padding: 5%;
}

#section-c .box-1,
#section-c .box-3 {
    background: dimgray;
    color: whitesmoke;
}

footer {
    padding: 25px;
    background: whitesmoke;
    color: dimgray;
    text-align: center;
}